*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/render.experimental.xml
/.idea/misc.xml
/.idea/gradle.xml
/.idea/deploymentTargetDropDown.xml
/.idea/compiler.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/
/app/build/
/gradle/wrapper/
/app/build/generated/
/build.gradle
/gradle.properties
/gradlew
/gradlew.bat
/settings.gradle
